# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*.pyo

# dependencies
node_modules/
.idea/

# testing
backend/tmp

# production
/build

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# secrets
/docker/prod/.env
scraper.env