/* .ant-comment-actions > li :hover {
    pointer-events: none !important;
} */

/* .ant-comment-inner {
    padding: 0 !important;
    padding-top: 15px !important;
} */
.infinite-container {
    height: 100%;
    /* overflow-y: scroll; */
}

/* .ant-list-item{
    padding:12px !important;
} */

.data-list-item {
    background: white;
    cursor: pointer;
    /* margin-bottom: 12px; */
    /* border: 1px solid transparent; */
    /* background: whitesmoke; */
}
.data-list-item:hover {
    background: whitesmoke;
    /* border: 1px solid #ffffff75; */
}

.list-loading-container {
    background: #ffffff75;
    padding-top: 35vh;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
}
